<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database credentials -->
        <property name="connection.url">jdbc:mysql://localhost:3306/burnout?serverTimezone=Europe/Zurich</property>
        <property name="connection.username">newuser</property>
        <property name="connection.password">password</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">2</property>
        <property name="current_session_context_class">thread</property>

        <!-- Mappings -->
        <mapping class="ch.bfh.bti7081.s2020.yellow.model.appointment.Appointment"/>
        <mapping class="ch.bfh.bti7081.s2020.yellow.model.clinic.Clinic"/>
        <mapping class="ch.bfh.bti7081.s2020.yellow.model.stationarytreatment.StationaryTreatment"/>
        <mapping class="ch.bfh.bti7081.s2020.yellow.model.patient.Patient"/>
        <mapping class="ch.bfh.bti7081.s2020.yellow.model.drug.Drug"/>
        <mapping class="ch.bfh.bti7081.s2020.yellow.model.medication.Medication"/>
        <mapping class="ch.bfh.bti7081.s2020.yellow.model.task.Task"/>
    </session-factory>
</hibernate-configuration>

